{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div class="graphic">
    <h3>{{ headline }}</h3>
    <p>{{ leadin }}</p>
    <!-- WHATEVER YOU NEED HERE -->
    <div id="map"></div>

    <div class="note">
      <span class="source">Source: {{ source }}</span>
      <span class="credit"><span>{{ credit }}</span> {{ email }}</span>
    </div>
    <div style="clear:both"></div>
  </div>
{% endblock %}
