{% extends 'layouts/application.html' %} 
{% block content %}
  <link rel="stylesheet" href="stylesheets/app.css">
  <section id="tournament">
    <div class="ap-relink-wrapper">
      <a class="ap-relink" href="http://www.miamiherald.com/entertainment/restaurants/article203590934.html">Don't see the bracket?
        <br/>Click here to vote</a>
    </div>
    {% include 'layouts/logo.html' %}
    <div class="mm-container group-a">
        <div class="how-to">
          <p><span>Tap</span> a matchup to vote for your favorite</p>
        </div>
      <div class="bracket bracket-one">
        <div class="label">World cuisine</div>
        <div class="round round1">
          <div class="round-details">Round 1<br class="mm-br"/><span class="date">March 12-14</span>
          </div>
        </div>
        <div class="round round2">
          <div class="round-details">Round 2<br class="mm-br"/>
            <span class="date">March 15-17</span>
          </div>
        </div>
        <div class="round round3">
          <div class="round-details">Round 3<br class="mm-br"/><span class="date">March 19-21</span>
          </div>
        </div>
        <div class="round round4">
          <div class="round-details">Round 4
            <br class="mm-br"/>
            <span class="date">March 22-24</span>
          </div>
        </div>
      </div>
  
      <div class="bracket bracket-two">
        <div class="label">Local Faves</div>
        <div class="round round4b">
          <div class="round-details">Round 4<br class="mm-br"/>
            <span class="date">March 22-24</span>
          </div>
        </div>
        <div class="round round3b">
          <div class="round-details">Round 3<br class="mm-br"/><span class="date">March 19-21</span>
          </div>
        </div>
        <div class="round round2b">
          <div class="round-details">Round 2<br class="mm-br"/><span class="date">March 15-17</span>
          </div>
        </div>
        <div class="round round1b">
          <div class="round-details">Round 1<br class="mm-br"/><span class="date">March 12-14</span></div>
        </div>
      </div>
    </div>
    <div class="mm-container champion">
  
      <div class="semi">
        <div class="round-details">Semifinals<br class="mm-br"/>
          <span class="date">March 26-28</span>
        </div>
      </div>
  
      <div class="plate">
        
      </div>
  
      <div class="final">
        <div class="round-details">Finals<br class="mm-br"/>
          <span class="date">March 29-April 2</span>
        </div>
      </div>
  
      <div class="semib">
        <div class="round-details">Semifinals<br class="mm-br"/>
          <span class="date">March 26-28</span>
        </div>
      </div>
  
    </div>
    <div class="mm-container group-b">
      <div class="bracket bracket-one">
        <div class="label">Fine dining</div>
        <div class="round round1">
  
        </div>
        <div class="round round2">
  
        </div>
        <div class="round round3">
  
        </div>
        <div class="round round4">
  
        </div>
      </div>
  
      <div class="bracket bracket-two">
        <div class="label">Hidden gems</div>
        <div class="round round4b">
  
        </div>
        <div class="round round3b">
  
        </div>
        <div class="round round2b">
  
        </div>
        <div class="round round1b">
  
        </div>
      </div>
    </div>
  </section>
  <script src="javascripts/app.js"></script>
{% endblock %}