body {
  font-family: 'McClatchy Sans', sans-serif;
  min-height: 100%;
  margin: 0;
  background: linear-gradient(to top, #F9BA2F 0%, #f9432f 100%);
}

#tournament {
  background-color: rgba(255, 255, 255, 0);
  padding: 10px 0;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  > div:not(.champion) {
    width: 100%;
  }
  @media (min-width: 730px) and (max-width: 812px), (-webkit-device-pixel-ratio : 3) and (orientation: landscape) {
    margin: 0 1.5em;
  }
}

.label {
  font-family: "McClatchy Slab", Georgia, Times,"Times New Roman",serif;
  position: absolute;
  z-index: 0;
  background: linear-gradient(to top left, #24BC46 0%, #208699 75%);
  color: #fff;
  font-size: 1.65em;
  align-self: center;
  margin-top: 1em;
  padding: 10px 16px;
  border-radius: 25px; 
  text-transform: uppercase;
  letter-spacing: 1.5px;
  height: 20px;
  line-height: 25px;
  user-select: none;
}

.mm-container.group-a {
  margin-top: 15px;
  @media screen and (min-width: 701px) {
    position: relative;
  }
}

.group-b .label {
  margin-top: 0;
}
.mm-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.bracket {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: center;
}
.champion {
  width: 50%;
  justify-content: space-around;
  > div:not(.plate) {
    width: 25%;
  }
}

.round {
  display: flex;
  flex-direction: column;
  width: 97%;
}

.round3b {
  margin-right: -10%;
}
.round3 {
  margin-left: -10%;
}
.round4b {
  margin-right: -8%;
}
.round4 {
  margin-left: -8%;
}

.bracket-one .round {
  margin-right: 1.5%;
  &.round3, &.round2 {
    margin-right: 0;
  }
}

.bracket-two   .round  {
  margin-left: 1.5%;
  &.round3b, &.round2b {
    margin-left: 0;
  }
}

.matchup {
  position: relative;
  padding: 0;
  width: 100%;
  margin: 8px 0;
  height: 65px;
  transition: all 0.2s;
  list-style-type: none;
}

.current .matchup {
  cursor: pointer;
}

.team {
  font-size: 12px;
  padding: 0 5px;
  margin: 3px 0;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
}

[class*="round2"] .matchup{
  margin: 48.5px 0;
}

[class*="round3"] .matchup {
  margin: 129.5px 0;
}

[class*="round4"] .matchup {
  margin: 291px 0;
}

.round-details {
  font-family: 'McClatchy Sans Cond', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(249, 219, 47);
  text-transform: uppercase;
  text-align: center;
  height: 40px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .75);
}

.date {
  letter-spacing: 1px;
  text-transform: none;
  font-family: 'McClatchy Sans', sans-serif;
  color: #fff;
  font-weight: normal;
  font-size: .7em;
}
.champion li,
.round li {
  background-color: #fff;
  box-shadow: none;
  opacity: 0.45;
}

.current li {
  opacity: 1;
}

.current li.team {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  opacity: 1;
  z-index: 6;
}

@media screen and (max-width: 700px) {
  .mm-container:not(.champion) {
    flex-direction: column;
  }
  .bracket,
  .champion {
    width: 95%;
    margin: 15px 2.5%;
  }
  .champion {
    order: 5;
    align-items: center;
    flex-direction: column;
    > div:not(.plate) {
      width: 35%;
    }
  }
}

@media screen and (max-width: 425px) {
  #tournament {
    padding-top: 20px;
  }
  .bracket {
    width: 96%;
    margin: 10px 2%;
  }
  .round {
    width: 25%;
  }
  .current {
    flex-grow: 1;
  }
  .mm-container.group-a {
    margin-top: 0;
  }
  .group-b .label {
    margin-top: 0;
  }
  .round3 .round-details {
    transform: translatex(25%);
  }
  .round3b .round-details {
    transform: translatex(-25%);
  }
  .round4, .round4b {
    .round-details {
      transform: translateY(700%);
    }
  }
}
