$line-color: rgba(240, 240, 240, 0.33);

.matchup::before {
  position: absolute;
  border-radius: 3px;
  content: '';
  width: 60%;
}

.round1b .matchup {
  // top
  &:nth-last-of-type(2n)::before {
    border-top: 2px solid $line-color;
    border-left: 2px solid $line-color;
    width: 55%;
    height: 15%;
    top: 49%;
    right: 95%;
  }
  // bottom
  &:nth-of-type(2n)::before {
    border-bottom: 2px solid $line-color;
    border-left: 2px solid $line-color; 
    width: 55%;
    top: 34%;
    height: 15%;
    right: 95%;
  }
}

.round2b .matchup {
  &:nth-last-of-type(2n)::before {
    border-top: 2px solid $line-color;
    border-left: 2px solid $line-color;
    width: 30%;
    height: 80%;
    top: 49.5%;
    right: 95%;
  }
  &:nth-of-type(2n)::before {
    border-bottom: 2px solid $line-color;
    border-left: 2px solid $line-color; 
    width: 30%;  
    bottom: 49.5%;
    height: 80%;
    right: 95%;
  }
}

.round3b .matchup {
  &:nth-last-of-type(2n)::before {
    border-top: 2px solid $line-color;
    border-left: 2px solid $line-color;
    width: 30%;
    height: 208%;
    top: 50%;
    right: 95%;
  }
  &:nth-of-type(2n)::before {
    border-bottom: 2px solid $line-color;
    border-left: 2px solid $line-color;
    width: 30%; 
    bottom: 50%;
    height: 208%;
    right: 95%;
  }
}

.round1 > .matchup:nth-last-of-type(2n) {
  &::before {
    border-top: 2px solid $line-color;
    border-right: 2px solid $line-color; 
    width: 55%;
    top: 49%;
    height: 15%;
    left: 95%;
  }
}

.round1 > .matchup:nth-of-type(2n) {
  &::before {
  border-bottom: 2px solid $line-color;
  border-right: 2px solid $line-color; 
  width: 55%;
  top: 33%;
  height: 15%;
  left: 95%;
  }
}

.round2 > .matchup:nth-last-of-type(2n) {
  &::before {
    border-top: 2px solid $line-color;
    border-right: 2px solid $line-color;
    width: 30%; 
    top: 49%;
    height: 81%; 
    left: 95%;
  }
}
.round2 > .matchup:nth-of-type(2n) {
  &::before {
    border-bottom: 2px solid $line-color;
    border-right: 2px solid $line-color;
    width: 30%; 
    bottom: 49%;
    height: 81%;
    left: 95%;
  }
}

.round3 .matchup:nth-last-of-type(2n) {
  &::before {
    border-top: 2px solid $line-color;
    border-right: 2px solid $line-color;
    width: 30%; 
    top: 50%;
    height: 205%;
    left: 95%;
  }
}

.round3 .matchup:nth-of-type(2n) {
  &::before {
    border-bottom: 2px solid $line-color;
    border-right: 2px solid $line-color;
    width: 30%; 
    bottom: 49%;
    height: 205%;
    left: 95%;
  }
}