.popup-background {
    visibility: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 7;
    background-color: rgba(0, 0, 0, 0.50);
    opacity: 0;
    transition: opacity .2s linear, visibilty .2s .2s linear;
}

.popup-background.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s linear, visibilty .2s 0s linear;

}

.popup {
    position: relative;
    background: #fff;
    color: #333;
    z-index: 8;
    width: 90%;
    border-radius: 12px;
    i.popup__close {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 9;
        font-size: 1.755em;
        cursor: pointer;
        color: #F9422F;
    }
    p.popup__close {
        cursor: pointer;
        text-align: center;
        color: #F9422F;
        font-size: 14px;
        margin: 0;
        padding-bottom: 1em;
        letter-spacing: .5px;
    }
    .popup__title {
        padding: 15px 15px 0 15px;
        font-weight: bold;
    }
    .popup__content {
        padding: 0 15px;
        font-size: 14px;
        .team-title {
            margin: 0;
        }
        p:not(.team-title) {
            margin-top: 0;
        }
    }
    .popup__poll {
        display: flex;
        justify-content: center;
        .poll-error {
            margin: .5em 0;
            > p {
                text-align: center;
                margin: .5em 0;
            }
            a {
                color: #208699;
            }
            .fa-exclamation-triangle {
                font-size: 2em;
                color: #f9a82f;
            }
        }
    }
    .popup__loading {
        display: inline-block;
        position: relative;
        margin-top: 5%;
        left: 50%;
        transform: translateX(-50%);
        border: 7px solid rgba(0, 0, 0, 0.2);
        border-bottom-color: #F9422F;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        animation: donut-spin 1s linear infinite;
    }
    .pds-box {
        border: none !important;
    }
    .pds-box-outer {
        padding: 10px 0 !important;
    }
}

@keyframes donut-spin {
  0% { transform: translateX(-50%) rotate(0deg); }
  100% { transform: translateX(-50%) rotate(360deg); }
}

@media (min-width: 701px) {
    .popup {
        width: 50%;
    }
}
@media (min-width: 1000px) {
    .popup {
        width: 30%;
        max-width: 400px;
    }
}

@media (max-width: 320px) {
    .popup {
        width: 95%;
    }
    .popup__content {
        height: 175px;
        overflow-y: scroll;
    }
}